
/*header*/
.header {
    background-color: #1a1a4f;
    padding: 10px;
    height: 45px;
    text-align: center;
    color: white;
}
.title button{
    height: 35px;
    width: 50px;
    font-size: larger;
    background-color: rgb(251, 16, 126);
    font-weight: bold;
    border-color: rgb(251, 16, 126);
    border-width: 0px;
    border-radius: 5px;
}
.header .title {
    font-size: 24px;
    margin: 0;
}
.header .nav {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.nav .buttons a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(251, 16, 126);
    border-radius: 5px;
    margin: 0 5px;
}
.nav .buttons a:hover {
    background-color: whitesmoke;
    color: rgb(251, 16, 126);   
}
.active{
    background-color: whitesmoke;
    color: rgb(251, 16, 126);

}
/*footer*/
.footer {
    background-color: #1a1a4f;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 65px;
   
}
.footer p{
    font-size: 10px;
}
.footer .links, .footer .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251, 16, 126);
    width: 175px;
    margin: 3px;
    border-radius: 15px;
}
.footer .links a, .footer .social a {
    color: white;
    font-size: 10px;
}
.footer .social a img {
    width: 13px;
    height: 13px;
}
 
/*table*/
.data-table {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    animation: fadeIn 0.5s ease;
}
.data-table h1{
    text-decoration:underline;
    text-decoration-color: rgb(255, 7, 160);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f5f5f5;
}
tr:hover {
    background-color: #f0f0f0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
